<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="KeyName" value="sampleValue"/>
  </appSettings>
  <connectionStrings>
    <add name="RavenDB/CorkCollector" connectionString="Url = https://a.corkcollector.dbs.local.ravendb.net:8080"/>
    <!--<add name="Secure" connectionString="Url = http://localhost:8080;user=beam;password=up;ResourceManagerId=d5723e19-92ad-4531-adad-8611e6e05c8a"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
